.cropWrapper {
    position: relative;
    height:100%;
}
.frame {
    width:225px;
}
.frame > img { width: 100%; }

#controls {
    background-color:#1b1b1b;
    text-align:center;
    height:50px;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    a {
        display:inline-block;
        padding:0 5%;
        height:50px;
        line-height:50px;
        font-size:20px;
        font-weight: 300;
        color:#888;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        &:hover { color: #FFF; text-decoration: none; }
    }
}
