<div class="cropWrapper">
    <div class="frame">
        <img class="gulliotineCropImage" />
    </div>

    <div id="controls">
        <!--<a title="Rotate left" ng-click="rotateLeft()"><i class="fa fa-rotate-left"></i></a>-->
        <a title="Zoom out" ng-click="zoomOut()"><i class="fa fa-search-minus"></i></a>
        <a title="Fit image" ng-click="fitImage()"><i class="fa fa-arrows-alt"></i></a>
        <a title="Zoom in" ng-click="zoomIn()"><i class="fa fa-search-plus"></i></a>
        <!--<a title="Rotate right" ng-click="rotateRight()"><i class="fa fa-rotate-right"></i></a>-->
    </div>
</div>
